@model List<EmployeeRegistrationpageUsingMVC.ViewModel.EmployeeViewModel>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            List<string> hobystr = new List<string>();
            string hobyss="";
            foreach(var hoby in item.hobieslist)
            {
                hobyss = hobyss +","+ hoby.hobyname;
            }

        <tr>
          <td>
              @item.Employee_Name
          </td>
            <td>
                @item.dob
            </td>
            <td>
                @item.address
            </td>
            <td>
                @item.gender
            </td>
            <td>
                @item.statename
            </td>
            <td>
                @hobyss.TrimStart(',');

            </td>
        </tr>
        }
    </tbody>
</table>