@model List<EmployeeRegistrationpageUsingMVC.ViewModel.EmployeeViewModel>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Employee Name</th>
            <th scope="col">dob</th>
            <th scope="col">address</th>
            <th scope="col">gender</th>
            <th scope="col">state name</th>
            <th scope="col">hobyies</th>
            <th scope="col">action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var chMkval = "";
            chMkval = item.gender == "M" ? "checked" : "";
            var chFkval="";
            chFkval = item.gender == "F" ? "checked" : "";
            List<string> hobystr = new List<string>();
            string hobyss="";

            string chkcook = "";
            string chkread = "";
            string chkwrite = "";
            string chkphoto = "";

            foreach(var hoby in item.hobieslist)
            {
                if (hoby.hobyname == "Cooking")
                {
                    chkcook = hoby.hobyname == "Cooking" ? "checked" : "";
                }
                if (hoby.hobyname == "Reading")
                {
                    chkread = hoby.hobyname == "Reading" ? "checked" : "";
                }
                if (hoby.hobyname == "Writing")
                {
                    chkwrite = hoby.hobyname == "Writing" ? "checked" : "";
                }
                if (hoby.hobyname == "PhotoGraph")
                {
                    chkphoto = hoby.hobyname == "PhotoGraph" ? "checked" : "";
                }

                hobyss = hobyss + "," + hoby.hobyname;

            }

        <tr>
            <td>
                <div class="tblshowsave tblshowsave_@item.Employee_ID">
                    @item.Employee_Name

                    </div>
                    <div style="display:none" class="form-group tblnotshowsave" id="empname_@item.Employee_ID">
                        <input type="text" class="form-control" id="txtemployee_@item.Employee_ID" name="txtemployee_@item.Employee_ID" placeholder="Employee Name">
                    </div>
            </td>
            <td>
                <div class="tblshowsave  tblshowsave_@item.Employee_ID">
                    @item.dob
                    </div>
                    <div style="display:none" class="form-group tblnotshowsave" id="txtbith_@item.Employee_ID">
                        <input type="datetime" class="form-control" id="txtdob_@item.Employee_ID" name="txtdob_@item.Employee_ID" placeholder="enter date of birth">
                    </div>
            </td>
            <td>
                <div class="tblshowsave  tblshowsave_@item.Employee_ID">
                    @item.address
                </div>
                <div style="display:none" class="form-group tblnotshowsave" id="tbladdress_@item.Employee_ID">
                    <input type="text" class="form-control" id="txtaddress_@item.Employee_ID" name="txtaddress_@item.Employee_ID" placeholder="Enter state">
                </div>
            </td>
            <td>
                <div class="tblshowsave  tblshowsave_@item.Employee_ID">
                    @item.gender
                    </div>
                <div style="display:none" class="form-group tblnotshowsave" id="tbledtrdo_@item.Employee_ID">


                    Male <input class="form-check-input RDOCHECKED_@item.Employee_ID" @chMkval type="radio" name="editrdogender_@item.Employee_ID"    value="M">
                    Female
                    <input class="form-check-input RDOCHECKED_@item.Employee_ID" type="radio" @chFkval name="editrdogender_@item.Employee_ID"    value="F">
                </div>

            </td>
            <td>
                <div class="tblshowsave  tblshowsave_@item.Employee_ID">

                    @item.statename

                   

                </div>
                <div style="display:none" class="form-group tblnotshowsave" id="tblddltrdo_@item.Employee_ID">

                   

                    <select id="ddldrop_@item.Employee_ID" name="ddldrop_@item.Employee_ID">
                        <option>select</option>

                    </select>
                </div>

            </td>
            <td>
                <div  class="tblshowsave  tblshowsave_@item.Employee_ID">
                    @hobyss.TrimStart(',');
                </div>
                <div style="display:none" class="form-group tblnotshowsave" id="tbledtbutton_@item.Employee_ID" >
                    <div class="form-check">
                       

                        <input class="form-check-input checkedevent_@item.Employee_ID" type="checkbox" @chkcook value="Cooking" name="editchkhobbye">
                        <label class="form-check-label" for="chkcook">
                            Cooking
                        </label>

                        <input class="form-check-input checkedevent_@item.Employee_ID" type="checkbox" @chkread value="Reading" name="editchkhobbye">
                        <label class="form-check-label" for="chkread">
                            Reading
                        </label>

                        <input class="form-check-input checkedevent_@item.Employee_ID" type="checkbox" @chkwrite value="Writing" name="editchkhobbye"> Writing

                        <input class="form-check-input checkedevent_@item.Employee_ID" type="checkbox" @chkphoto value="PhotoGraph" name="editchkhobbye"> PhotoGraph


                    </div>
                    <input type="hidden" id="hdchkval_@item.Employee_ID" name="hdchkval_@item.Employee_ID" value="" />

                </div>

            </td>
            <td id="tbledt_@item.Employee_ID" class="tblshowsave">
                <button type="button" class="btnedit" onclick="Editdata('@item.Employee_ID')">Edit</button>

            </td>
            <td style="display:none" id="tblsave_@item.Employee_ID"  class="tblnotshowsave">
                <button type="button" class="btnedit" onclick="Savedata('@item.Employee_ID')">Save</button>

            </td>
        </tr>
        }
    </tbody>
</table>