@model List<EmployeeRegistrationpageUsingMVC.ViewModel.EmployeeViewModel>
@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid">
    <div class="jumbotron">


        <div class="row">
            <div class="col-md-4">

                <div class="form-group">
                    <label for="txtemployee">Employeem Name</label>
                    <input type="text" class="form-control" id="txtemployee" name="txtemployee" placeholder="Employee Name">
                </div>
                <div class="form-group">
                    <label for="txtdob">Date of birth</label>
                    <input type="date" class="form-control" id="txtdob" name="txtdob" placeholder="enter date of birth">
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <label for="rdogender">Gender</label>&nbsp;&nbsp;

                        <input class="form-check-input RDOCHECKED" type="radio" name="rdogender" id="mrdo" value="M">
                        <label class="form-check-label" for="mrdo">
                            Male
                        </label>
                        <input class="form-check-input RDOCHECKED" type="radio" name="rdogender" id="frdo" value="F">
                        <label class="form-check-label" for="frdo">
                            Female
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Address</label>
                    <input type="text" class="form-control" id="txtaddress" name="txtaddress" placeholder="Address">
                </div>
                <div class="form-group">
                    <label for="ddlstate">select state</label>
                    @Html.DropDownList("ddlstate", (IEnumerable<SelectListItem>)ViewBag.ddlstate, "select", new { @class = "form-control" })
                    @*<select class="form-control" id="ddlstate">
                            <option value="">Select</option>
                            <option value="jp">jaipur</option>
                        </select>*@
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input checkedevent" type="checkbox" id="chkcook" value="Cooking" name="chkhobbye">
                        <label class="form-check-label" for="chkcook">
                            Cooking
                        </label>

                        <input class="form-check-input checkedevent" type="checkbox" id="chkread" value="Reading" name="chkhobbye">
                        <label class="form-check-label" for="chkread">
                            Reading
                        </label>

                        <input class="form-check-input checkedevent" type="checkbox" id="chkwr" value="Writing" name="chkhobbye">
                        <label class="form-check-label" for="chkwr">
                            Writing
                        </label>
                        <input class="form-check-input checkedevent" type="checkbox" id="chkphto" value="PhotoGraph" name="chkhobbye">
                        <label class="form-check-label" for="chkphto">
                            PhotoGraph
                        </label>

                    </div>
                    <input type="hidden" id="hdchkval" name="hdchkval" value="" />

                </div>
                <div><button type="button" id="btnsubmits" class="btn btn-success">Success</button></div>

            </div>
            <div class="col-md-8">
                <div id="tblempdata">
                    @Html.Partial("_Employeepart")
                </div>

            </div>

        </div>


    </div>

</div>

<script>


</script>

<script>

    $('.checkedevent').on('click', function () {
        var array = [];
        $("input:checkbox[name=chkhobbye]:checked").each(function () {
            array.push($(this).val());
        });
       // alert(array);
        $('#hdchkval').val(array)
    });


    $('#btnsubmits').click(function () {
        alert($('input[name="rdogender"]:checked').val());
      var rdoval=  $('input[name="rdogender"]:checked').val();

             $.ajax({
                    type: 'POST',
                 url: '@Url.Action("Add_Employee_data","Home")',
                 data: { txtemployee: $("#txtemployee").val(), txtdob: $("#txtdob").val(), rdogender: rdoval, txtaddress: $("#txtaddress").val(), ddlstate: $("#ddlstate").val(), chkhobbye: $('#hdchkval').val() },
                    success: function (response) {





                    }

                });


        })

</script>

<script>
    var tbledt = "#tbledt_";
    var tblsave = "#tblsave_";
    var tblshowsave = "#tblshowsave";
    var empname = "#empname_";
    var txtbith = "#txtbith_";
    var tbledtrdo = "#tbledtrdo_";
    var tblddltrdo = "#tblddltrdo_";
    var tbledtbutton = "#tbledtbutton_";
    var tbladdress = "#tbladdress_";
    var tblshowsavecls = ".tblshowsave_";
    var tblnotshowsave = ".tblnotshowsave";
    function Editdata(empid) {

        var txtemployee = "#txtemployee_" + empid;
        var txtdob = "#txtdob_" + empid;
        var txtaddress = "#txtaddress_" + empid;
        var ddldrop = "#ddldrop_" + empid;

        /*Employee_ID*/
        $.ajax({
            url: '@Url.Action("GetALLStates", "Home")',
            data: { emid: empid },
            cache: false,
            type: "POST",
            success: function (data1) {
                debugger;
                $(ddldrop).empty()
                if (data1.status = "Success") {
                  
                    var markup = "<option value='0'>Select State</option>";
                    for (var x = 0; x < data1.statelist.length; x++) {
                        if (data1.statelist[x].stateid == data1.employeedata.state) {
                            markup += "<option value=" + data1.statelist[x].stateid + " selected>" + data1.statelist[x].statename + "</option>";
                        }
                        else {
                            markup += "<option value=" + data1.statelist[x].stateid + ">" + data1.statelist[x].statename + "</option>";
                        }
                    }
                    $("#ddldrop_" + empid).html(markup).show();
                   
                    var date = new Date(parseInt((data1.employeedata.dob).match(/\d+/)[0]))
                    var createddate = converttoDate(date);

                    $(txtemployee).val(data1.employeedata.Employee_Name)
                    $(txtdob).val(createddate)
                    $(txtaddress).val(data1.employeedata.address)



                    $(".tblshowsave").show();
                    $(".tblnotshowsave").hide();
                    $(tbledt + empid).hide();
                    $(tblsave + empid).show();
                    $(tblshowsave + empid).show();
                    $(tblshowsavecls + empid).hide();
                    $(tblddltrdo + empid).show();
                    $(empname + empid).show();
                    $(txtbith + empid).show();
                    $(tbledtrdo + empid).show();
                    $(tbledtbutton + empid).show();
                    $(tbladdress + empid).show();
                }
            }

        });


       // tbledt = "#tbledt_" + empid;
       // tblsave = "#tblsave_" + empid;



    }
  

    function converttoDate(str) {
        var date = new Date(str),
            mnth = ("0" + (date.getMonth() + 1)).slice(-2),
            day = ("0" + date.getDate()).slice(-2),
            Hrs = (date.getHours()),
            mnts = (date.getMinutes()),
            sec = (date.getSeconds());
        return dd = [mnth,day, date.getFullYear()].join("/");
    }

    function Savedata(empid) {
        debugger;
      //  $(".tblshowsave").show();
      //  $(".tblnotshowsave").hide();
        var txtemployee = "#txtemployee_" + empid;
        var txtdob_ = "#txtdob_" + empid;
        var txtaddress = "#txtaddress_" + empid;
        var ddldrop = "#ddldrop_" + empid;
        var RDOCHECKED = "#RDOCHECKED_" + empid;
        var nameeditrdogender = "editrdogender_" + empid;
        var hdchkval = "#hdchkval_" + empid;
       
        var checkedevent = ".checkedevent_" + empid;
        $(hdchkval).val('')
        var array = [];
        $(checkedevent + ':checkbox:checked').each(function (i) {
            array.push($(this).val());
         
        });
        $(hdchkval).val(array)


       // var rdoval = $(RDOCHECKED + 'input[name="' + nameeditrdogender+'"]:checked').val();
        var rdoval = $('input[name="' + nameeditrdogender + '"]:checked').val();
        
             $.ajax({
                    type: 'POST',
                 url: '@Url.Action("Update_Employee_data","Home")',
                 data: { empid: empid, txtemployee: $(txtemployee).val(), txtdob: $(txtdob_).val(), rdogender: rdoval, txtaddress: $(txtaddress).val(), ddlstate: $(ddldrop).val(), chkhobbye: $(hdchkval).val() },
                    success: function (response) {





                    }

                });


        //$(tbledt + empid).hide();
        //$(tblsave + empid).hide();
        //$(tblshowsave + empid).hide();
        //$(tblshowsavecls + empid).hide();
        //$(tblddltrdo + empid).hide();
        //$(empname + empid).hide();
        //$(txtbith + empid).hide();
        //$(tbledtrdo + empid).hide();
        //$(tbledtbutton + empid).hide();
      //  $(tbladdress + empid).show();

    }



</script>